{{#
	@name call to action footer
	@desc The call to action footer page builder block.
    @set page.page_builder.call_to_action_footer
#}}

<!-- /page_builder/_call_to_action_footer.antlers.html -->
<!-- Section 1 -->
<section class="py-8 leading-7 text-gray-900 bg-pink sm:py-12 md:py-16 lg:py-24 rounded-3xl fluid-container">
    <div class="max-w-6xl px-4 px-10 mx-auto border-solid lg:px-12">
        <div class="flex flex-col items-start leading-7 text-gray-900 border-0 border-gray-200 lg:items-center lg:flex-row">
            <div class="box-border flex-1 text-center border-solid sm:text-left">
                <h2 class="m-0 text-3xl font-bold leading-tight tracking-tight text-left text-white border-0 border-gray-200 sm:text-3xl">
                    Wil je graag meer weten?
                </h2>
                <p class="mt-2 text-xl text-left text-white border-0 border-gray-200 sm:text-2xl">
                    Laat je verrassen. Er is meer mogelijk dan je denkt.
                </p>
            </div>
            <a style="border-radius: 10px; padding: 1rem;" href="#_" class="inline-flex items-center justify-center w-full px-5 py-4 mt-6 ml-0 font-sans  font-bold leading-none text-greyblue no-underline bg-white border border-pink border-solid  cursor-pointer md:w-auto lg:mt-0  focus-within:bg-pink focus-within:border-white focus-within:text-white sm:text-lg lg:ml-6 md:text-xl">
                Overtuigd? Neem contact op!
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <polyline points="12 5 19 12 12 19"></polyline>
                </svg>
            </a>
        </div>
    </div>
</section>
<footer class="font-sans">
    <div
        class="
          container
          flex flex-col flex-wrap
          px-4
          py-16
          mx-auto
          md:items-center
          lg:items-start
          md:flex-row md:flex-nowrap
          font-sans
        "
    >
        <div
            class="flex-shrink-0 w-64 mx-auto font-sans text-center md:mx-0 md:text-left"
        >
            <a
                class="
              flex
              items-center
              justify-center
              text-4xl
              font-bold
              text-blue-700
              md:justify-start
            "
            >
                Logo
            </a>
            <p class="mt-2 font-sans text-sm text-justify text-gray-500">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                at sequi cum, impedit fuga in placeat illo eum minima possimus est
                perferendis distinctio explicabo eos natus consequuntur blanditiis
                odio optio?
            </p>


        </div>
        <div class="justify-between w-full mt-4 text-center lg:flex">
            <div class="w-full px-4 lg:w-1/3 md:w-1/2">
                <h2 class="mb-2 lg:pl-6 font-bold tracking-widest text-pink">
                    Navigatie
                </h2>
                <ul class=" inline-block lg:text-left mb-8 space-y-2 text-sm list-none">
                    <li>
                        <a class="text-greyblue hover:text-gray-800">Home</a>
                    </li>
                    <li>
                        <a class="text-greyblue hover:text-gray-800">About Us</a>
                    </li>
                    <li>
                        <a class="text-greyblue hover:text-gray-800">Blogs</a>
                    </li>
                    <li>
                        <a class="text-greyblue hover:text-gray-800">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="w-full px-4 lg:w-1/3 md:w-1/2">
                <h2 class="mb-2 font-bold tracking-widest lg:pr-2 text-pink">
                    Let's chat
                </h2>
                <ul class="inline-block  lg:text-left space-y-2 text-sm list-none">
                    <li>
                        <a class="text-greyblue hover:text-gray-800">0475- 35 89 05</a>
                    </li>
                    <li>
                        <a class="text-greyblue hover:text-gray-800">info@nettt.nl</a>
                    </li>
                    <li>
                        <div class="flex inline-block text-left justify-center mt-4 lg:mt-2">
                            <a>
                                <svg
                                    fill="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    class="w-6 h-6 text-blue-600"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
                                    ></path>
                                </svg>
                            </a>
                            <a class="ml-3">
                                <svg
                                    fill="currentColor"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="0"
                                    class="w-6 h-6 text-blue-500"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        stroke="none"
                                        d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
                                    ></path>
                                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                                </svg>
                            </a>
                            <a class="ml-3">
                                <svg
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    class="w-6 h-6 text-pink-400"
                                    viewBox="0 0 24 24"
                                >
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                    <path
                                        d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
                                    ></path>
                                </svg>
                            </a>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="w-full px-4 lg:w-1/3 md:w-1/2">
                <h2 class="mb-2 font-bold tracking-widest lg:pr-6 text-pink">
                    Useful Links
                </h2>
                <ul class=" inline-block lg:text-left mb-8 space-y-2 text-sm list-none">
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">Stationsweg 84</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">6075 CD</a>
                    </li>
                    <li>
                        <a class="text-gray-600 hover:text-gray-800">Herkenbosch</a>
                    </li>
                    <li>
                        <a style="border-radius: 10px; " href="#_" class=" inline-block text-left inline-flex items-center justify-center w-full px-5 py-2 mt-6 ml-0 font-sans  font-bold leading-none text-white no-underline bg-pink border    cursor-pointer md:w-auto lg:mt-0   sm:text-lg  md:text-xl">
                            Helpdesk</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex justify-center -mt-12">
        <p class="text-base text-gray-400">
            @Nettt Interactieve Media 2021 Voorwaarden & Privacy
        </p>
    </div>
</footer>
<!-- End: /page_builder/_call_to_action_footer.antlers.html -->
