    {{#
    @name cases
    @desc The cases page builder block.
    @set page.page_builder.cases
    #}}

    <!-- /page_builder/_cases.antlers.html -->
    {{block:cases}}
    <section>
            <div id="content-grid">
                {{case_image}}
            <div class="header bg-cover h-72"
                style="background-image: url({{url}})">
                {{/case_image}}
                <a class="overlay-container md:h-96 ">
                    <div class="overlay">
                        <div class="overlay-inner p-4">
                            <div class="text">{{title}}</div>
                            <div class="text-rol">{{label}}</div>
                        </div>
                    </div>
                </a>
            </div>
                {{case-img-standing}}
            <div class="main bg-cover h-auto"
                 style="background-image: url({{url}})">
                {{/case-img-standing}}
            </div>
                {{img_small}}
            <div class="aside bg-cover h-72"
                 style="background-image: url({{url}})">
                {{/img_small}}
            </div>
                {{img_container2}}
            <div class="nav bg-cover h-72"
                 style="background-image: url({{url}})">
                {{/img_container2}}
            </div>

            </div>
        <br>
        <br>
        <br>
        <br>
        {{block:cases}}
    </section>


    <!-- End: /page_builder/_cases.antlers.html -->
