    {{#
    @name cases
    @desc The cases page builder block.
    @set page.page_builder.cases
    #}}


    <!-- /page_builder/_cases.antlers.html -->
    {{block:cases}}
    <section>
            <div id="content-grid" class="">
            <div class="header">
                <a class="overlay-container-cases  ">
                    {{glide:case_image}}
                    <img class="img-case" src="{{url}}">
                    {{/glide:case_image}}
                    <div class="overlay-cases">
                        <div class="overlay-inner-case ">
                            <div class="text">{{title}}</div>
                            <div class="text-rol">{{label}}</div>
                        </div>
                    </div>
                </a>
            </div>
                {{glide:case-img-standing}}
            <div class="main"/>
                <img class="img-case " src="{{url}}">
                {{/glide:case-img-standing}}
            </div>
                {{glide:img_small}}
            <div class="aside">
                <img class="img-case h-full" src="{{url}}">
                {{/glide:img_small}}
            </div>
                {{glide:img_container2}}
            <div class="nav">
                <img class="img-case h-full" src="{{url}}">
                {{/glide:img_container2}}
            </div>

            </div>
        <br>
        {{block:cases}}
    </section>


    <!-- End: /page_builder/_cases.antlers.html -->
