{{#
@name Over Ons block
@desc The Over Ons block page builder block.
@set page.page_builder.over_ons_block
#}}

<!-- /page_builder/_over_ons_block.antlers.html -->
<section class=" fluid-container text-center mb-10 ">
    {{block:over_ons_block}}
    <div class="inline-block text-left mt-7 mb-10">
        <div class="flex lg:flex-row flex-col ">
            {{glide:image}}
            <img class="w-full h-auto max-w-screen-md" src="{{url}}" >
            {{/glide:image}}

            <a href="{{url}}" class=" box-border text-white bg-greyblue  w-full h-auto lg:max-w-screen-sm  lg:translate-y-20 lg:-translate-x-20 py-5 ">
                <div class="md:ml-8 md:mt-6" >
                    <h2 class="text-2xl md:text-3xl font-sans font-bold leading-tight text-white py-4 px-8  ">{{title}}</h2>
                    <h2 class="text-2xl md:text-3xl font-sans leading-tight text-white  py-4 pl-8 pr-28 ">{{textarea}}</h2>
                    <h2 class="text-5xl md:text-3xl font-sans leading-tight text-white  py-4 px-8"> <svg width="17" height="25" viewBox="0 0 17 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.81299 2.02441L13.813 13.3321L1.81299 23.0244" stroke="#E3E3E3" stroke-width="4"/>
                    </svg>
                    </h2>
                </div>
            </a>
        </div>
    </div>
    {{block:over_ons_block}}
</section>
<br>
<br>
<!-- End: /page_builder/_over_ons_block.antlers.html -->
