{{#
@name reviews
@desc The reviews page builder block.
@set page.page_builder.reviews
#}}

<!-- /page_builder/_reviews.antlers.html -->
{{block:reviews}}
{{background-img}}
<section>
<div class="flex lg:flex-row bg-no-repeat bg-cover justify-center pb-24 pt-12 flex-col xs:grid-cols-2 md:grid-cols-4" style="background-image: url({{url}});">
    {{/background-img}}
    {{klantenreview}}
   <div>
        <div class=" review flex inline-flex mr-5">
            <ul>
                <li>
                    <a>
                        {{klant-foto}}
                        <img src="{{url}}">
                        {{/klant-foto}}
                        <h1 class="text-4xl p-5 font-bold ">{{klant-naam}}</h1>
                        <p class="pt-2 p-5 ">{{klant-review}}</p>
                    </a>
                </li>
            </ul>
        </div>
   </div>
    {{/klantenreview}}
</div>
</section>
{{block:/reviews}}
<!-- End: /page_builder/_reviews.antlers.html -->
