{{#
@name reviews
@desc The reviews page builder block.
@set page.page_builder.reviews
#}}

<!-- /page_builder/_reviews.antlers.html -->
{{block:reviews}}
{{background-img}}
<section class="bg-no-repeat bg-cover" style="background-image: url({{url}});">
        <br>
        <h1 class=" mt-5 text-4xl font-bold text-center text-white tracking-tight">{{title-center}}</h1>
    <br>
    <br>
    <br>
    <div  class="width-review">
        <div class="   pb-24 pt-12  xs:grid-cols-2 md:grid-cols-4  review-slider">
            {{klantenreview}}
            <div class=" text-center ">
                <div class=" w-full review flex inline-flex  ">
                    <ul>
                        <li>
                            <a class="">
                                {{klant-foto}}
                                <img src="{{url}}">
                                {{/klant-foto}}
                                <h1 class="text-4xl p-5 font-bold ">{{klant-naam}}</h1>
                                <p class="pt-2 p-5 ">{{klant-review}}</p>
                            </a>
                        </li>
                    </ul>

                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            {{/klantenreview}}
        </div>
    </div>
    {{/background-img}}
</section>
{{block:/reviews}}
<!-- End: /page_builder/_reviews.antlers.html -->
