{{#
@name tools
@desc The tools page builder block.
@set page.page_builder.tools
#}}

<!-- /page_builder/_tools.antlers.html -->


<section class="bg-white pt-7 pb-14">

        <div class="container px-8 mx-auto sm:px-12 lg:px-20">


                <div class="img-slider">
                    {{ slider-images }}
                    <img src="{{url}}" alt="{{alt}}" class="block object-contain h-12 mr-10">
                    {{/slider-images}}
                </div>

         
        </div>
</section>
<!-- End: /page_builder/_tools.antlers.html -->
