{{#
@name werkwijze nettt Interactieve media
@desc The werkwijze nettt Interactieve media page builder block.
@set page.page_builder.werkwijze_nettt_interactieve_media
#}}

<!-- /page_builder/_werkwijze_nettt_interactieve_media.antlers.html -->
<section class="fluid-container">
    {{block:werkwijze_nettt_interactieve_media}}
    {{grid}}
    <div class="fluid-container">
    {{icon}}
    <img src="{{url}}">
    {{/icon}}
        {{icon2}}
        <img class="pl-20" src="{{url}}">
        {{/icon2}}
    </div>
    {{/grid}}
    {{block:werkwijze_nettt_interactieve_media}}
</section>
<!-- End: /page_builder/_werkwijze_nettt_interactieve_media.antlers.html -->
